@* @{
        ViewBag.Title = "About";
    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
*@



<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" rel="stylesheet" type="text/css">

<script async defer src="https://buttons.github.io/buttons.js"></script>

<div class="jumbotron jumbotron-odi-hero bg-primary">
    <div class="jumbotron-overlay ">
        <div class="container jumbotron-padding  text-center">
            <h1 class="display-4">Speed up your development with high quality themes.</h1>            
        </div>
    </div>
</div>

<div class="container mt-5" id="about">
    <h1 class="text-center py-4">Why to choose fixr landing</h1>

    <div class="row text-center mt-5">
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-3 text-center"> <i class="fas fa-rocket card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Ready to ship</h4>
                        <p class="card-text">You can use this theme as personal as well as for commercial purpose & can customise it. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-3 text-center"><i class="fas fa-feather card-img-top fa-4x text-primary" aria-hidden="true"></i></div>
                    <div class="card-body">
                        <h4 class="card-title">Light weight</h4>
                        <p class="card-text">We avoid needless js and CSS which makes template more sleek and powerful. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-3 text-center"><i class="fa fa-tablet card-img-top fa-4x text-primary" aria-hidden="true"></i></div>

                    <div class="card-body">
                        <h4 class="card-title">Responsive </h4>
                        <p class="card-text">Our templates works in all devices (desktop,tablets and phones). </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="card shadow">
                <div class="card-body">
                    <div class="py-3 text-center">
                        <i class="fas fa-charging-station card-img-top fa-4x text-primary" aria-hidden="true"></i>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Easy customisation</h4>
                        <p class="card-text">Our templates are clean,light weight and technically refined. </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- blog post start -->
<div class="container mt-5">
    <h3 class="pt-4 d-inline latest-news">Latest News</h3>

    <a href="" class="btn btn-outline-primary btn-circle d-inline float-right">View all</a>
    <!--  <p class="h5 text-center text-muted">Awesome featured templates</p> -->
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="images/jelly-pro-3.jpg" alt="">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-dark">
                        <a href="#" class="text-decoration-none text-dark font-weight-bold">
                            Title of a blog post
                        </a>
                    </h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>

                </div>
                <div class="card-footer text-muted border-0 bg-white">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="images/jelly-pro-2.jpeg" alt="">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-dark">
                        <a href="#" class="text-decoration-none text-dark font-weight-bold">
                            Title of a blog post
                        </a>
                    </h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>

                </div>
                <div class="card-footer text-muted border-0 bg-white">

                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <img class="card-img-top" src="images/jelly-pro-1.jpeg" alt="">
                <div class="card-body">
                    <h4 class="card-title mb-3 text-dark">
                        <a href="#" class="text-decoration-none text-dark font-weight-bold">
                            Title of a blog post
                        </a>
                    </h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>

                </div>
                <div class="card-footer text-muted border-0 bg-white">

                </div>
            </div>
        </div>
    </div>
</div>